@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #6700ee;

  a {
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .logo {
    color: #72e6ff;
    font-weight: bold;
  }

  ul {
    display: flex;

    a {
      display: block;
      padding: 0 1em;
    }
  }
}

.social-header,
.hero-design {
  display: none;
}

.hero {
  background-color: #6e00ff;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 250px;
  font-weight: bold;
  color: #ff64cb;
  align-items: center;
  justify-content: center;
  img {
    height: 1em;
    width: 1em;
    margin-right: 0.5em;
  }
}

.scroll {
  width: 40px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;

  img {
    border-radius: 1em;
  }
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #6e00ff;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6e00ff;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #3b3b3b;
  margin-bottom: 3em;
  font-size: 0.85em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: #ff64cb;
}

.skills-container ul li {
  background-color: white;
  padding: 4em 2em;
  border-radius: 1em;
  margin-bottom: 1em;

  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;

    img {
      width: 80px;
    }
  }

  .skill-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .featured-desc {
    margin-bottom: 2em;
  }
}

.portfolio {
  background-color: #f7f7f7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.call-to-action {
  height: 4vh;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    margin: 0;
    padding: 0;
  }
}
.call-to-action-title span {
  color: #ff64cb;
  text-decoration: underline;
}

.contact {
  .social-header {
    display: none;
    padding: 0;
    margin: auto;
  }

  .contact-form-container {
    background-color: #6e00ff;
    color: white;
    font-weight: bold;
    padding: 8% 12% 8% 12%;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 5px;
      }

      input {
        margin-bottom: 15px;
      }

      input {
        height: 2.5em;
      }
      textarea {
        height: 15em;
        resize: none;
        margin-bottom: 20px;
      }

      .form-button {
        align-self: flex-end;
        color: white;
        background-color: #ff64cb;
        font-weight: bold;
        font-size: 0.85em;
        border: none;
        height: 3em;
        width: 10em;
        margin-top: 0.5em;
        margin-bottom: 0px;
      }
    }
  }
}

footer {
  background-color: #6700ee;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-hero-design {
    display: none;
  }

  .footer-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em 0 2em;
    width: 100%;
    height: 100%;

    .footer-logo {
      color: #72e6ff;
      font-weight: bold;
    }

    ul {
      display: flex;

      a {
        color: white;
        display: block;
        padding: 0 1em;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }

  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }

  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }

  .right {
    margin-left: 2em;
    margin-top: 1em;
  }

  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }

  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }

  .portfolio {
    padding-top: 7em;
  }

  .portfolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }

  .scroll {
    margin-top: 10em;
  }

  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background-color: unset;

    header {
      background-color: #6700ee;
    }
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 7em;
      float: right;
    }

    img {
      width: 20px;
    }
  }

  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background-color: unset;
    padding: 0;

    .content {
      background-color: #6e00ff;
      padding: 6em 8em 6em 4em;
      text-align: left;

      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }

  .meet {
    margin: unset;
  }

  .hero-design {
    display: unset;
    width: 100%;
    margin-left: -50%;
    margin-top: 15%;
  }

  .portfolio img {
    float: right;
    max-width: 500px;
  }

  .contact {
    display: flex;
    .social-header {
      display: flex;
      justify-content: center;
      width: 100%;
      flex: 0.45;
      padding: 0;
      margin: auto;


    }
    .contact-form-container {
      flex: 0.55;
    }
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  .scroll {
    margin-top: 14em;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}

@media only screen and (min-width: 1550) {
  header {
    padding: 2em 2em 2em 20em;
  }

  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
  }
}
